{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{##}
{#{% block head_title %}{% trans "Signup" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<h1>{% trans "Sign Up" %}</h1>#}
{##}
{#<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>#}
{##}
{#<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{#  <button type="submit">{% trans "Sign Up" %} &raquo;</button>#}
{#</form>#}
{##}
{#{% endblock %}#}

{% extends 'base/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MTV</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}" type="text/css">

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:900,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/img-upload.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}" type="text/css">
    <script src="{% static 'lslider/layerslider/js/jquery.js' %}"></script>

</head>
{% endblock %}
{% block content %}
    {% include 'base/sign_up.html' %}
{% endblock %}
{% block js_source %}
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>
	<script src="{% static 'js/master.js' %}"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

