{% load staticfiles %}
{% load i18n %}
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-5 slot-a">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow bounceInUp text-primary no-padding compare-card"
                 data-wow-delay=".1s">
                <div class="col-lg-12 no-padding"><h3>Nissan Juke<span>2014</span></h3>

                    <div class="stars">
                        <span style="width: 81%"/>
                    </div>
                </div>
                <div style="position:relative;width:100%;overflow:hidden;">
                    <ul class="car-shots" style="">
                        <li class="pro-link"><a href="profile.html">Go to car profile</a></li>
                        <li class="hero-li"><img src="./img/car-0001-1.jpg"></li>
                        <li><img src="./img/car-0001-2.jpg"></li>
                        <li><img src="./img/car-0001-3.jpg"></li>
                        <li><img src="./img/car-0001-4.jpg"></li>
                    </ul>
                </div>
                <div class="brand"><strong>NISSAN</strong><br>Juke</div>
                <div class="col-lg-12 text-left price"><h2>142,000 LE</h2><span class="discover">discover</span></div>
            </div>
            <div class="col-lg-12 col-xs-12 padding-5">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <img src="img/ins-body.png" class="inspection-icon">

            <h3 class="point-heading">Body</h3>

            <div class="stars">
                <span style="width: 95%"/>
            </div>
        </a>
      </span>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <img src="img/ins-engine.png" class="inspection-icon">

            <h3 class="point-heading">Engine / Transmission</h3>

            <div class="stars">
                <span style="width: 90%"/>
            </div>
        </a>
      </span>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <img src="img/ins-suspension.png" class="inspection-icon">

            <h3 class="point-heading">Suspension</h3>

            <div class="stars">
                <span style="width: 77%"/>
            </div>
        </a>
      </span>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <img src="img/ins-interiors.png" class="inspection-icon">

            <h3 class="point-heading">Interiors</h3>

            <div class="stars">
                <span style="width: 82%"/>
            </div>
        </a>
      </span>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <img src="img/ins-options.png" class="inspection-icon">

            <h3 class="point-heading">Electronics / Features</h3>

            <div class="stars">
                <span style="width: 71%"/>
            </div>
        </a>
      </span>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>