{% load staticfiles %}
{% load i18n %}
<section id="compare" style="position:relative;">
    <div style="position:absolute;z-index:-1;width:100%;top:0;min-height: 580px;background-color: #f1f1f1;"></div>
    <div class="container">
        <div class="row" style="position:relative;">

        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="main-heading">{% trans 'Compare' %}</h2>

            <p style="margin-top: -35px;">{% blocktrans %} Compare between the cars you`ve shortlisted {% endblocktrans %}</p>
        </div>
        <span class="vs-circle" style="display: none">{% trans 'VS' %}</span>
        <div id="com-slot-a">
        </div>
        <div id="com-slot-b">
        </div>
{#        {% include 'base/car_garage_slot_a.html' %}#}
{#        {% include 'base/car_garage_slot_b.html' %}#}
    </div>
</section>