{% load staticfiles %}
{% load i18n %}
<div class="container text-center">
    <h2 class="secondary-heading">{% trans 'Your Garage' %}</h2>

    <p style="margin-top: -15px;color:#888;">{% trans 'Here you will find the cars you've shortlisted' %}</p>
</div>
<div class="container">
    <div id="big-owl">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="owler" class="owl-carousel">
                        {% for car_info in garage %}
                            {% include 'base/car_garage_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>