{% load staticfiles %}
{% load i18n %}
{% load watermark %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-5 slot-b">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow bounceInUp text-primary no-padding compare-card"
         data-wow-delay=".1s">
        <div class="col-lg-12 no-padding">
            <h3>{{ car_info.model.brand.brand_name|add:' '|add:car_info.model.model_name }}<span>{{ car_info.year }}</span>
            </h3>

            <div class="stars">
                <span style="width: 81%"/>
            </div>
        </div>
        <div style="position:relative;width:100%;overflow:hidden;">
            <ul class="car-shots" style="">
                <li class="pro-link"><a href="{% url 'car_profile' car_info.id %}">{% trans 'Go to car profile' %}</a>
                </li>
                <li class="hero-li"><img src="{{ car_info.car_image_one.url|watermark:"water,opacity=10,position=50%x50%" }}"></li>
                <li><img src="{{ car_info.car_image_two.url|watermark:"water,opacity=10,position=50%x50%" }}"></li>
                <li><img src="{{ car_info.car_image_three.url|watermark:"water,opacity=10,position=50%x50%" }}"></li>
                <li><img src="{{ car_info.car_image_four.url|watermark:"water,opacity=10,position=50%x50%" }}"></li>
            </ul>
        </div>
        <div class="brand"><strong>{{ car_info.model.brand.brand_name }}</strong><br>{{ car_info.model.model_name }}
        </div>
        <div class="col-lg-12 text-left price"><h2>{{ car_info.price }} EGP</h2><span
                class="discover">{% trans 'Discover' %}</span></div>
    </div>
    <div class="col-lg-12 col-xs-12 padding-5">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <img src="{% static 'img/ins-body.png' %}" class="inspection-icon">

            <h3 class="point-heading">{% trans 'Body' %}</h3>

            <div class="stars">
                <span style="width: {{ car_info.car_inspection.all.0.inspection_rate }}%"/>
            </div>
        </a>
      </span>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% if car_info.car_inspection.all.0.inspection_category %}
                            {{ car_info.car_inspection.all.0.inspection_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <img src="{% static 'img/ins-engine.png' %}" class="inspection-icon">

            <h3 class="point-heading">{% trans 'Engine / Transmission' %}</h3>

            <div class="stars">
                <span style="width: {{ car_info.car_inspection.all.1.inspection_rate }}%"/>
            </div>
        </a>
      </span>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if car_info.car_inspection.all.1.inspection_category %}
                            {{ car_info.car_inspection.all.1.inspection_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <img src="{% static 'img/ins-suspension.png' %}" class="inspection-icon">

            <h3 class="point-heading">{% trans 'Suspension' %}</h3>

            <div class="stars">
                <span style="width: {{ car_info.car_inspection.all.2.inspection_rate }}%"/>
            </div>
        </a>
      </span>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if car_info.car_inspection.all.2.inspection_category %}
                            {{ car_info.car_inspection.all.2.inspection_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <img src="{% static 'img/ins-interiors.png' %}" class="inspection-icon">

            <h3 class="point-heading">{% trans 'Interiors' %}</h3>

            <div class="stars">
                <span style="width: {{ car_info.car_inspection.all.3.inspection_rate }}%"/>
            </div>
        </a>
      </span>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if car_info.car_inspection.all.3.inspection_category %}
                            {{ car_info.car_inspection.all.3.inspection_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
      <span class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <img src="{% static 'img/ins-options.png' %}" class="inspection-icon">

            <h3 class="point-heading">{% trans 'Electronics / Features' %}</h3>

            <div class="stars">
                <span style="width: {{ car_info.car_inspection.all.4.inspection_rate }}%"/>
            </div>
        </a>
      </span>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if car_info.car_inspection.all.4.inspection_category %}
                            {{ car_info.car_inspection.all.4.inspection_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>