{% load staticfiles %}
{% load i18n %}
<section id="services">
    <div class="container">


    </div>
    </div>
    <div class="container">
        <div class="row" style="position:relative;">
            <div class="col-lg-12">
                <h2 class="section-heading">{% trans 'Hot Deals' %}</h2>
                {% blocktrans %}
                <p class="section-p">In this section you will find our hottest deals. Always keep an eye on this section
                    and don’t miss our deals.</p>
                {% endblocktrans %}
            </div>
            <div class="views">
                <span class="third actove"><img src="{% static 'img/thirdw-icon.png' %}"></span>
                <span class="half"><img src="{% static 'img/halfw-icon.png' %}"></span>
                <span class="full"><img src="{% static 'img/fullw-icon.png' %}"></span>

                <h3>{% trans 'View' %}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for car in hot_deal %}
                {% include 'base/hot_deals_car_cards.html' %}
            {% endfor %}
        </div>
    </div>
</section>