{% load staticfiles %}
{% load i18n %}
{% load watermark %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center wow bounceInUp text-primary no-padding car-card"
                 data-wow-delay=".1s">
                <div class="col-lg-12 no-padding"><h3>{{ car.model.brand.brand_name|add:' '|add:car.model.model_name|add:' '|add:car.year }}</h3></div>
                <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_one.url|watermark:"water,opacity=10,position=50%x50%" }}"></div>
                <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_two.url|watermark:"water,opacity=10,position=50%x50%" }}"></div>
                <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_three.url|watermark:"water,opacity=10,position=50%x50%" }}"></div>
                <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_four.url|watermark:"water,opacity=10,position=50%x50%" }}"></div>
                <div class="brand"><strong>{{ car.model.brand.brand_name }}</strong><br>{{ car.model.model_name }}</div>
                <div class="col-lg-12 km-color">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding text-left"><strong>{% trans 'KM' %}</strong> {{ car.km }}
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding text-left {{ car.color }}"><strong>{% trans 'Color' %}</strong>
                        {{ car.color }}
                    </div>
                </div>
                <div class="col-lg-12 text-left add-garage fav">
                    {% if car.in_my_garage %}
                        <i class="fa fa-heart fa-2x"></i>
                        <a href="javascript:remove_car_from_garage({{ car.my_car.all.0.id }})"> {% trans 'Remove from garage' %}</a>
                    {% else %}
                        <i class="fa fa-heart-o fa-2x"></i>
                        <a href="javascript:add_car_to_garage({{ car.id }})"> {% trans 'Add to garage' %}</a>
                    {% endif %}

                    </div>
                <div class="col-lg-12 text-left price"><h2>{{ car.price }} EGP</h2><a href="{% url  'car_profile' car.id %}" class="discover">{% trans 'Discover' %}</a>
                </div>
            </div>