{% load staticfiles %}
{% load i18n %}
<div class="item car-card">
                        <div class="col-lg-12 no-padding"><h3>{{ car.model.brand.brand_name|add:' '|add:car.model.model_name|add:' '|add:car.year }}</h3></div>
                        <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_one.url }}"></div>
                        <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_two.url }}"></div>
                        <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_three.url }}"></div>
                        <div class="col-lg-12 car-card-img no-padding"><img src="{{ car.car_image_four.url }}"></div>
                        <div class="brand"><strong>{{ car.model.brand.brand_name }}</strong><br>{{ car.model.model_name }}</div>
                        <div class="col-lg-12 text-left add-garage fav">
                            {% if car.in_my_garage %}
                                <i class="fa fa-heart fa-2x"></i>
                        <a href="javascript:remove_car_from_garage({{ car.my_car.all.0.id }})"> {% trans 'Remove from garage' %}</a>
                            {% else %}
                                <i class="fa fa-heart-o fa-2x"></i>
                                <a href="javascript:add_car_to_garage({{ car.id }})"> {% trans 'Add to garage' %}</a>
                            {% endif %}

                        </div>
                        <div class="col-lg-12 text-left price"><h2>{{ car.price }} EGP</h2>
                            <a href="{% url 'car_profile' car.id %}" class="discover">{% trans 'Discover' %}</a></div>
</div>