{% load staticfiles %}
<header style="min-height: 560px;background-color: #ddd;">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 sellanim" style="">
					<img class="anim-car" src="{% static 'img/sell-car.png' %}">
					<img class="anim-money" src="{% static 'img/money.png' %}">
					<img class="anim-line" src="{% static 'img/sell-anim-ground.png' %}">
					<img class="anim-magic" src="{% static 'img/sell-magic-stick.png' %}">
					<span>
						<img class="anim-stick-stars1" src="{% static 'img/magic-stars1.png' %}">
						<img class="anim-stick-stars2" src="{% static 'img/magic-stars2.png' %}">
					</span>
					<span>
						<img class="anim-stick-stars4" src="{% static 'img/magic-stars4.png' %}">
						<img class="anim-stick-stars5" src="{% static 'img/magic-stars5.png' %}">
						<img class="anim-stick-stars7" src="{% static 'img/magic-stars7.png' %}">
					</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    </header>