{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MTV</title>
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:900,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/img-upload.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/garage.css' %}" type="text/css">
	    <script src="{% static 'lslider/layerslider/js/jquery.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
    {% if LANGUAGE_CODE == 'ar' %}
            <link rel="stylesheet" href="{% static 'css/arabic.css' %}" type="text/css">
        {% endif %}

</head>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% include 'base/car_garage_cards.html' %}
    {% include 'base/car_garage_comparison.html' %}
{% endblock %}

{% block js_source %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/creative.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>
<script src="{% static 'js/garage.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'app/common.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function ($) {
        $("#owler").owlCarousel();
    });

    $("body").data("page", "frontpage");
    $('body').addClass("garage-page");
    </script>

{% endblock %}